.hero {
  position: relative;
  background-image: url('http://static5.techinsider.io/image/5579c144ecad04611949d055-4057-2700/gameofthrones15_172.jpg');
  background-size: cover;
  width: 100%;
  height: 600px;
}

.hero-box{
  position: absolute;
  top: 50%;
  left: 12.5%;
  font-family: sans-serif;
  color: whitesmoke;
  background-color: rgba(14, 14, 14, 0.85);
  font-size: 18px;
  padding: 10px;
}

.works{
  background-color: lightblue;
  padding:  20px 25%;
  h1{
    font-size: 36px;
    font-weight: bold;
    font-family: helvetica;
    text-align: center;
  }
  p{
    margin-top: 7px;
    font-family: helvetica;
    font-size: 16px;
  }
}
